body {
    background-color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    justify-content: center;
}

.content {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1 {
    margin: 0;
    margin-left: auto;
}

.calculator-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 560px;
    background-color: #C2D73E;
    box-shadow: 2px 2px 2px 2px #00000055;
    border: solid 1px #000000;
    border-radius: 5px;
    padding: 5px;
}

#operator {
    background-color: greenyellow;
    font-size: 2em;
    font-weight: bold;
}

#operator:hover {
    background-color: #adcc2faa;
}

.display-area {
    background-color: #F5F5fA;
    width: 340px;
    height: 70px;
    font-size: 3em;
    border: solid 1px #000000;
    box-shadow: 1px 1px 1px #00000055;
    text-align: right;
    border-radius: 5px;
    overflow: hidden;
}

#display-text {
    margin-right: 15px;
}

#number {
    background-color: #7A9AA4;
    font-size: 2em
}

.mult {
    border-top-right-radius: 5%;
}

#number:hover {
    background-color: #7A9AA4cc;
}

#clear {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 2em;
    border-top-left-radius: 5%;
}

#clear:hover, #dot:hover, #undo:hover {
    background-color: #406775dd;
}

#clear, #dot, #undo {
    background-color: #406775;
}

#result {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: #F49867;    
}

#result:hover {
    background-color: #Ff9f7f;
}

#vert {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.2em;
    padding: 2px;
    font-weight: bolder;
}

#undo {
    font-size: 1.2em;
    padding: 0;
}

.buttons-area {
    margin-top: 10px;
    box-shadow: 1px 5px 5px #00000055;
    background-color: #C2D73E;
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: repeat(5, 92px);

}

button {
    outline: none;
}

#dot {
    font-size: 4em;
}