body {
    background-color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    display: flex;
    width: 90vw;
    justify-content: center;
}

.calculator-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    height: 200px;
    background-color: #C2D73E;
    box-shadow: 1px 1px 1px #00000055;
    border: solid 1px #000000;
    border-radius: 5px;
    padding: 5px;
}

#operator {
    background-color: greenyellow;
}

#operator:hover {
    background-color: #adcc2faa;
}

.display-area {
    background-color: #F5F5fA;
    width: 156px;
    height: 25px;
    margin-right: 1px;
    border: solid 1px #000000;
    box-shadow: 1px 1px 1px #00000055;
    text-align: right;
    border-radius: 5px;
    overflow: hidden;
}

#number {
    background-color: #7A9AA4;
}

#number:hover {
    background-color: #7A9AA4cc;
}

#clear {
    grid-column-start: 1;
    grid-column-end: 3;
}

#clear:hover, #dot:hover, #undo:hover {
    background-color: #406775dd;
}

#clear, #dot, #undo {
    background-color: #406775;
}

#result {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: #F49867;
}

#result:hover {
    background-color: #Ff9f7f;
}

#vert {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 0.45em;
    padding: 2px;
    font-weight: bold;
}

#undo {
    font-size: 0.5em;
    padding: 0;
}

.buttons-area {
    margin-top: 2px;
    box-shadow: 1px 1px 1px #00000055;
    display: grid;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: repeat(5, 35px);
}

button {
    outline: none;
}

